@charset "UTF-8";
/* 基本样式 */
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Trebuchet MS", "Myriad Pro", Arial, sans-serif;
  font-size: 14px;
  background-color: #222;
  overflow-x: hidden; }

h1 {
  font-size: 56px;
  color: #ccc; }

h2 {
  font-size: 20px;
  padding: 10px 0px;
  margin: 15px 0px 20px 0px; }

a {
  text-decoration: none;
  color: #555; }
  a:hover {
    color: #222; }

p {
  padding: 5px 0px; }

.title {
  width: 960px;
  margin: 100px auto 20px;
  text-align: center; }

.clear {
  clear: both; }

.footer {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  clear: both;
  margin-top: 30px; }
  .footer a {
    margin: 0px 20px; }

/* Slider 样式 */
.container {
  width: 100%;
  height: 420px;
  position: relative;
  border-top: 7px solid #333;
  border-bottom: 7px solid #333;
  overflow: hidden;
  box-shadow: 0px 0px 7px #000;
  -webkit-box-shadow: 0px 0px 7px #000;
  -moz-box-shadow: 0px 0px 7px #000; }
  .container .bg {
    background: transparent url(../imgs/bg.png) repeat top left; }
    .container .bg div {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 7584px;
      height: 420px;
      background-repeat: repeat;
      background-position: top left;
      background-color: transparent; }
    .container .bg .bg1 {
      background-image: url(../imgs/bg1.png); }
    .container .bg .bg2 {
      background-image: url(../imgs/bg2.png); }
    .container .bg .bg3 {
      background-image: url(../imgs/bg3.png); }
  .container .slider_wrapper {
    display: none; }
  .container ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .container ul.slider {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 420px; }
      .container ul.slider li {
        height: 420px;
        float: left;
        position: relative; }
        .container ul.slider li img {
          display: block;
          margin: 35px auto 0px auto;
          border: 8px solid transparent;
          box-shadow: 0px 0px 7px #222;
          -webkit-box-shadow: 0px 0px 7px #222;
          -moz-box-shadow: 0px 0px 7px #222;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px; }
    .container ul.thumbnails {
      height: 35px;
      position: absolute;
      top: 320px;
      left: 50%; }
      .container ul.thumbnails li {
        position: absolute;
        display: block; }
        .container ul.thumbnails li img {
          border: 5px solid #fff;
          box-shadow: 1px 1px 7px #555;
          -webkit-box-shadow: 1px 1px 7px #555;
          -moz-box-shadow: 1px 1px 7px #555;
          cursor: pointer;
          display: block;
          opacity: .7;
          transition: opacity .5s; }
        .container ul.thumbnails li.selected img {
          opacity: 1.0; }
  .container .navigation span {
    position: absolute;
    width: 30px;
    height: 60px;
    box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    -moz-box-shadow: 0px 0px 2px #000;
    top: 145px;
    opacity: .6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer; }
    .container .navigation span:hover {
      opacity: .9; }
    .container .navigation span.prev {
      background: #000 url(../imgs/prev.png) no-repeat center center; }
    .container .navigation span.next {
      background: #000 url(../imgs/next.png) no-repeat center center; }
  .container .loading {
    color: #fff;
    font-size: 20px;
    padding: 15px 15px 15px 50px;
    position: absolute;
    background: #333 url(../imgs/ajax-loader.gif) no-repeat 10px 50%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    opacity: .7;
    width: 180px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -90px; }

/*# sourceMappingURL=layout.css.map */
